body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

// scene introduction

.scene-introduction{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;

    .text{
        h2{
            font-size: 4em;
            margin: 0;
            font-weight: 400;
            line-height: 1.3;
        }
        p{
            text-align: center;
            font-size: 1.5em;
            margin: 0;
            font-weight: 100;
            animation: blink 1.2s infinite alternate;
        }
    }
}

// blink animation
@keyframes blink {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


.scene {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
}

.sun{
    position: absolute;
    z-index: -1;
    transform: translateY(-10.5em);
}

.score{
    margin-top: 4em;
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
}

.coconut, .points {
    margin: 0 4em 0em 0;
}

.points{
    align-self: center;
    font-size: 4.9em;
    padding-bottom: .2em;
}


// scene hidden

.hidden {
    opacity: 0;
    display: none;
}
